#mmcin {
	background-color: var(--backcolor);
	color: var(--textcolor);
	font-size: 1.2rem;
	border: 0px solid var(--textcolor);
	border-width: 0px 0px 1px 0px;
	padding: .1rem;
}

#mmcin::placeholder {
	color: var(--textcolor-alt);
}

#mmcin, #mmcout {
	width: 100%;
}

#mmcout {
	font-size: 2rem;
	text-align: center;
}
