.pair {
	display: flex;
}

.pair :nth-child(n){
	font-size: 2rem;
	flex-grow: 1;
}

.pair :nth-child(2n) {
	text-align: right;
}

.grid-title {
	font-size: 1.5rem;
	margin-top: 1rem;
}

#locage {
	display: inline-block;
	color: var(-textcolor-alt);
}

#direction {
	font-weight: bold;
	text-align: center;
	font-size: 5rem;
	transform: rotate(0deg);
}

table {
	width: 100%;
	font-size: 1.4rem;
	table-layout: fixed;
	border-collapse: collapse;
}

thead th:nth-child(1) {
	width: 40%;
}

thead th:nth-child(2) {
	width: 60%;
}

th {
	font-size: 1.4rem;
	font-weight: 600;
	font-variant: small-caps;
}

tbody tr:nth-child(odd) {
	background-color: var(--backcolor-alt);
}
