:root {
	--mobile-width: 92vw;
}

@media (prefers-color-scheme: light) {
	:root {
		--headcolor: #000000;
		--textcolor: #222222;
		--textcolor-alt: #444444;
		--backcolor: #FFFFFF;
		--backcolor-alt: #DDDDDD;
	}
}

@media (prefers-color-scheme: dark), not (prefers-color-scheme: no-preference) {
	:root {
		--headcolor: #EEEEEE;
		--textcolor: #CCCCCC;
		--textcolor-alt: #999999;
		--backcolor: #000000;
		--backcolor-alt: #333333;
	}
}

* {
    padding: 0px;
    margin: 0px;

	-webkit-appearance: none;
}

html {
    color: var(--textcolor);
    background-color: var(--backcolor);
}

body {
    width: 100%;
    text-align: center;

    font-family: sans-serif;
}

main {
    display: inline-block;
    text-align: left;
}

header {
	display: inline-block;
    text-align: left;

	padding-bottom: 1rem;
    border-bottom: 1px solid var(--headcolor);
}

header h1 {
    font-size: 2rem;
    font-weight: normal;
}

header h2 {
    font-size: 1.1rem;
    font-weight: normal;
    color: var(--textcolor);
}

#foreword {
	padding: 1rem 0rem;
	margin-bottom: 1rem;
	color: var(--textcolor-alt);
	font-size: 1.2rem;
	text-align: justify;
	border-bottom: 1px solid var(--headcolor);
}

footer {
	margin-top: 1rem;
	border-top: 1px solid var(--headcolor);
	padding-top: 1rem;
	text-align: center;
}

a {
    text-decoration: none;
    color: var(--headcolor);
    border-bottom: 1px dashed var(--headcolor);
}

a:hover {
    border-bottom: 1px solid var(--headcolor);
}

a.hidden {
	border: none !important;
}

input[type=text] {
	background-color: var(--backcolor);
	color: var(--textcolor);
	font-size: 1.2rem;
	border: 0px solid var(--textcolor);
	border-width: 0px 0px 1px 0px;
	padding: .1rem;
	width: 100%;
}

input[type=button] {
	background-color: var(--backcolor);
	color: var(--textcolor);
	font-size: 1.2rem;
	width: 100%;
	border: 1px solid var(--textcolor);
}

input[type=button]:active {
	background-color: var(--backcolor-alt);
}

::placeholder {
	color: var(--textcolor-alt);
}

.smallcap {
	font-variant: small-caps;
}
