article {
	margin: 2rem 0px;
}

header {
	border: 0px;
}

/*article {
	text-align: justify;
}*/

p {
	padding-bottom: 1rem;
	line-height: 1.4;
}

figure {
	text-align: center;
	padding: 1rem;
}

figure img {
	width: 80%;
}

figure figcaption {
	display: inline-block;
	color: var(--textcolor-alt);
	padding: 0.5rem 12% 0px 12%;
	font-size: 1rem;
}
