@media (max-width: 44rem) {
	body {
		font-size: 1rem;
	}

	article {
		width: var(--mobile-width);
		display: inline-block;
	}

	header {
		width: var(--mobile-width);
		margin-top: 0.5rem;
	}

	main {
		width: var(--mobile-width);
		margin: 0px auto 0.5rem auto;
	}
}
@media (min-width: 44rem) {
	:root {
		--content-width: 40rem;
	}

	body {
		font-size: 1.2rem;
	}

	article {
		width: var(--content-width);
		display: inline-block;
	}

	header {
		width: var(--content-width);
		margin-top: 2.5rem;
	}

	main {
		width: var(--content-width);
	}
}
